.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:791px;
  min-width:200px;
  max-width:1166px;
  margin:auto;
  background-color:#ffffff;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.Rectangle-148{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:0px;
  width:1167px;
  min-width:1167px;
  height:791px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:791px;
  background-color:rgba(250, 247, 234, 1);
}
.Rectangle-148-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.Line-32{
  position:relative;
  z-index:9;
  pointer-events:auto;
  cursor:pointer;
  transform:rotate(135deg);
  min-width:20.52px;
  min-height:undefinedpx;
  border:1px solid rgba(0, 0, 0, 1);
  width:100%;
}
.Line-32-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.Line-32-url{
  text-decoration:none;
  margin-left:75px;
  width:20.52px;
  margin-top:-745px;
  margin-bottom:745px;
}
.Line-33{
  position:relative;
  z-index:10;
  pointer-events:auto;
  cursor:pointer;
  transform:rotate(-135deg);
  min-width:19.85px;
  min-height:undefinedpx;
  border:1px solid rgba(0, 0, 0, 1);
  width:100%;
}
.Line-33-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.Line-33-url{
  text-decoration:none;
  margin-left:75px;
  width:19.85px;
  margin-top:-731px;
  margin-bottom:731px;
}
.Icon-favourite{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:1042px;
  width:48.96px;
  min-width:48.96px;
  height:49px;
  margin-top:-708px;
  margin-bottom:659px;
  min-height:49px;
}
.Icon-favourite-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.Shape{
  position:relative;
  z-index:12;
  pointer-events:auto;
  margin-left:8.169934640522863%;
  width:85.37581699346391%;
  height:77.04081632653062%;
  margin-top:12.254901960784293%;
  content:url(assets/images/Shape.png);
}
.Shape-outer{
  pointer-events:none;
  z-index:12;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.WhatsApp-Image-2021-{
  position:relative;
  z-index:23;
  pointer-events:none;
  margin-left:422px;
  width:322px;
  min-width:322px;
  height:618px;
  margin-top:-691px;
  margin-bottom:73px;
  min-height:618px;
  content:url(assets/images/WhatsApp_Image_2021_09_02_at_9_27.png);
}
.WhatsApp-Image-2021--outer{
  pointer-events:none;
  z-index:23;
  position:relative;
  display:flex;
}
.WhatsApp-Image-2021--2{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:87px;
  width:321px;
  min-width:321px;
  height:310px;
  margin-top:-691px;
  margin-bottom:381px;
  min-height:310px;
  content:url(assets/images/WhatsApp_Image_2021_09_02_at_9_28_1.png);
}
.WhatsApp-Image-2021--2-outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
.q210664-Design-Propo{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:87px;
  width:321px;
  min-width:321px;
  height:309px;
  margin-top:-691px;
  margin-bottom:382px;
  min-height:309px;
  content:url(assets/images/_210664_Design_Proposal__Zalora_Tie_Dye_Tee_01_4.png);
}
.q210664-Design-Propo-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.Product-Card{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:422px;
  width:323px;
  min-width:323px;
  height:387px;
  margin-top:-691px;
  margin-bottom:304px;
  min-height:387px;
}
.Product-Card-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.Product-Size{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:94.11764705882354%;
  width:5.882352941176471%;
  height:8.258397932816537%;
  margin-top:100.30959752321981%;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Apparel;
  font-weight:400;
  font-size:20px;
  line-height:22.60869598388672px;
  visibility:hidden;
}
.Product-Size-outer{
  pointer-events:none;
  z-index:7;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Product-Price{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:0%;
  width:56.25077399380806%;
  height:8.258397932816537%;
  margin-top:109.90712074303407%;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Apparel;
  font-weight:400;
  font-size:20px;
  line-height:22.60869598388672px;
  visibility:hidden;
}
.Product-Price-outer{
  pointer-events:none;
  z-index:6;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Product-Title{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:0%;
  width:90.07430340557278%;
  height:8.258397932816537%;
  margin-top:100.30959752321984%;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Apparel;
  font-weight:400;
  font-size:20px;
  line-height:22.60869598388672px;
  visibility:hidden;
}
.Product-Title-outer{
  pointer-events:none;
  z-index:5;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Product-Image{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:0%;
  width:99.63157894736841%;
  height:79.9405684754522%;
  margin-top:0%;
  background-color:rgba(196, 196, 196, 1);
}
.Product-Image-outer{
  pointer-events:none;
  z-index:4;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.WhatsApp-Image-2021--1{
  position:relative;
  z-index:22;
  pointer-events:none;
  margin-left:87px;
  width:321px;
  min-width:321px;
  height:292px;
  margin-top:-365px;
  margin-bottom:73px;
  min-height:292px;
  content:url(assets/images/WhatsApp_Image_2021_09_02_at_9_28.png);
}
.WhatsApp-Image-2021--1-outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.Icon-thumb-down{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:1041px;
  width:50px;
  min-width:50px;
  height:49px;
  margin-top:-203px;
  margin-bottom:154px;
  min-height:49px;
}
.Icon-thumb-down-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.thumbs-up{
  position:relative;
  z-index:17;
  pointer-events:auto;
  cursor:pointer;
  margin-left:0px;
  width:50px;
  min-width:50px;
  height:49px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:49px;
  content:url(assets/images/thumbs_up.png);
}
.thumbs-up-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.Icon-thumb-up{
  position:relative;
  z-index:13;
  pointer-events:auto;
  cursor:pointer;
  margin-left:953px;
  width:50px;
  min-width:50px;
  height:49px;
  margin-top:-203px;
  margin-bottom:154px;
  min-height:49px;
}
.Icon-thumb-up-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.Path-2{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:12%;
  width:14.5%;
  height:39.55102040816327%;
  margin-top:36%;
  content:url(assets/images/Path_2.png);
}
.Path-2-outer{
  pointer-events:none;
  z-index:15;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Path-15{
  position:relative;
  z-index:14;
  pointer-events:auto;
  cursor:pointer;
  margin-left:32.00000000000003%;
  width:56.160000000000046%;
  height:77.04081632653062%;
  margin-top:4.0000000000000036%;
  content:url(assets/images/Path_15.png);
}
.Path-15-outer{
  pointer-events:none;
  z-index:14;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Going-Places{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:759px;
  width:369px;
  height:55px;
  margin-top:-422px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Apparel;
  font-weight:400;
  font-size:40px;
  line-height:55px;
}
.Going-Places-outer{
  pointer-events:none;
  z-index:19;
  justify-content:center;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
  align-items:center;
}
.The-places-you-never{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:703px;
  width:313px;
  height:234px;
  margin-top:-83px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(31, 64, 97, 1);
  font-style:normal;
  font-family:Apparel;
  font-weight:400;
  font-size:20px;
  line-height:30px;
}
.The-places-you-never-outer{
  pointer-events:none;
  z-index:18;
  justify-content:center;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
  align-items:center;
}
