.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:791px;
  min-width:200px;
  max-width:1167px;
  margin:auto;
  background-color:#ffffff;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.Rectangle-148{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:0px;
  width:1167px;
  min-width:1167px;
  height:791px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:791px;
  background-color:rgba(250, 247, 234, 1);
}
.Rectangle-148-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.Line-32{
  position:relative;
  z-index:4;
  pointer-events:auto;
  cursor:pointer;
  transform:rotate(135deg);
  min-width:20.52px;
  min-height:undefinedpx;
  border:1px solid rgba(0, 0, 0, 1);
  width:100%;
}
.Line-32-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.Line-32-url{
  text-decoration:none;
  margin-left:75px;
  width:20.52px;
  margin-top:-745px;
  margin-bottom:745px;
}
.Line-33{
  position:relative;
  z-index:5;
  pointer-events:auto;
  cursor:pointer;
  transform:rotate(-135deg);
  min-width:19.85px;
  min-height:undefinedpx;
  border:1px solid rgba(0, 0, 0, 1);
  width:100%;
}
.Line-33-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.Line-33-url{
  text-decoration:none;
  margin-left:75px;
  width:19.85px;
  margin-top:-731px;
  margin-bottom:731px;
}
.Icon--asset-icon-{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:87px;
  width:657px;
  min-width:657px;
  height:629px;
  margin-top:-701px;
  margin-bottom:72px;
  min-height:629px;
  background-color:rgba(255, 255, 255, 1);
  backdrop-filter:blur(4px);
  -webkit-backdrop-filter:blur(4px);
  border-radius:50px;
  overflow:hidden;
}
.Icon--asset-icon--outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.openpeeps---peep-sta{
  position:relative;
  z-index:28;
  pointer-events:none;
  margin-left:122px;
  width:206.32px;
  min-width:206.32px;
  height:501.19px;
  margin-top:421px;
  margin-bottom:-293.19000000000005px;
  min-height:501.19px;
}
.openpeeps---peep-sta-outer{
  pointer-events:none;
  z-index:28;
  position:relative;
  display:flex;
}
.Head{
  position:relative;
  z-index:32;
  pointer-events:none;
  margin-left:83px;
  width:75.01px;
  min-width:75.01px;
  height:86.5px;
  margin-top:27px;
  margin-bottom:387.69000000000005px;
  min-height:86.5px;
}
.Head-outer{
  pointer-events:none;
  z-index:32;
  position:relative;
  display:flex;
}
.accessories-Sunglass{
  position:relative;
  z-index:39;
  pointer-events:none;
  margin-left:10.66524463404879%;
  width:82.8689508065591%;
  height:24.30057803468208%;
  margin-top:49.326756432475655%;
}
.accessories-Sunglass-outer{
  pointer-events:none;
  z-index:39;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.q---Ink{
  position:relative;
  z-index:40;
  pointer-events:none;
  margin-left:-2px;
  width:66.18px;
  min-width:66.18px;
  height:18.3px;
  margin-top:1px;
  margin-bottom:1.7200000000000273px;
  min-height:18.3px;
  content:url(assets/images/____Ink.png);
}
.q---Ink-outer{
  pointer-events:none;
  z-index:40;
  position:relative;
  display:flex;
}
.FACIAL-HAIR{
  position:relative;
  z-index:38;
  pointer-events:none;
  margin-left:26.663111585121978%;
  width:59.19210771897079%;
  height:40.49710982658959%;
  margin-top:69.32409012131714%;
}
.FACIAL-HAIR-outer{
  pointer-events:none;
  z-index:38;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.FACE{
  position:relative;
  z-index:36;
  pointer-events:none;
  margin-left:34.66204506065858%;
  width:61.098520197307025%;
  height:51.58381502890173%;
  margin-top:38.66151179842687%;
}
.FACE-outer{
  pointer-events:none;
  z-index:36;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.q---Ink-1{
  position:relative;
  z-index:37;
  pointer-events:none;
  margin-left:8px;
  width:29.19px;
  min-width:29.19px;
  height:29.21px;
  margin-top:7px;
  margin-bottom:8.409999999999968px;
  min-height:29.21px;
  content:url(assets/images/____Ink_1.png);
}
.q---Ink-1-outer{
  pointer-events:none;
  z-index:37;
  position:relative;
  display:flex;
}
.head-Gray-Short{
  position:relative;
  z-index:33;
  pointer-events:none;
  margin-left:0%;
  width:100%;
  height:99.82658959537572%;
  margin-top:0%;
}
.head-Gray-Short-outer{
  pointer-events:none;
  z-index:33;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.q---Ink-2{
  position:relative;
  z-index:35;
  pointer-events:none;
  margin-left:7px;
  width:61.17px;
  min-width:61.17px;
  height:70.61px;
  margin-top:8px;
  margin-bottom:7.740000000000009px;
  min-height:70.61px;
  content:url(assets/images/____Ink_2.png);
}
.q---Ink-2-outer{
  pointer-events:none;
  z-index:35;
  position:relative;
  display:flex;
}
.q---Background{
  position:relative;
  z-index:34;
  pointer-events:none;
  margin-left:10.665244634048793%;
  width:78.76283162245034%;
  height:79.35147654892879%;
  margin-top:11.998400213304892%;
  content:url(assets/images/____Background.png);
}
.q---Background-outer{
  pointer-events:none;
  z-index:34;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.pose-standing-easing{
  position:relative;
  z-index:29;
  pointer-events:none;
  margin-left:0%;
  width:126.43466459868166%;
  height:75.96320756599293%;
  margin-top:47.01434664598682%;
}
.pose-standing-easing-outer{
  pointer-events:none;
  z-index:29;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.q---Ink-3{
  position:relative;
  z-index:31;
  pointer-events:none;
  margin-left:14px;
  width:170.4px;
  min-width:170.4px;
  height:183.06px;
  margin-top:0px;
  margin-bottom:197.66000000000008px;
  min-height:183.06px;
  content:url(assets/images/____Ink_3.png);
}
.q---Ink-3-outer{
  pointer-events:none;
  z-index:31;
  position:relative;
  display:flex;
}
.q---Background-1{
  position:relative;
  z-index:30;
  pointer-events:none;
  margin-left:6.13355823046845%;
  width:64.10335045618339%;
  height:49.682181130489596%;
  margin-top:-2.3000843364256687%;
  content:url(assets/images/____Background_1.png);
}
.q---Background-1-outer{
  pointer-events:none;
  z-index:30;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.openpeeps---peep-sta-1{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:0px;
  width:242.73px;
  min-width:242.73px;
  height:501.19px;
  margin-top:-208px;
  margin-bottom:-293.19000000000005px;
  min-height:501.19px;
}
.openpeeps---peep-sta-1-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Head-1{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:64px;
  width:75.32px;
  min-width:75.32px;
  height:86.5px;
  margin-top:27px;
  margin-bottom:387.69000000000005px;
  min-height:86.5px;
}
.Head-1-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.ACCESORIES{
  position:relative;
  z-index:27;
  pointer-events:none;
  margin-left:10.62134891131174%;
  width:82.87307488050985%;
  height:24.30057803468208%;
  margin-top:49.123738714816795%;
}
.ACCESORIES-outer{
  pointer-events:none;
  z-index:27;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.FACIAL-HAIR-1{
  position:relative;
  z-index:26;
  pointer-events:none;
  margin-left:26.553372278279344%;
  width:59.2007434944238%;
  height:40.49710982658959%;
  margin-top:69.0387679235263%;
}
.FACIAL-HAIR-1-outer{
  pointer-events:none;
  z-index:26;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.face-Cute{
  position:relative;
  z-index:24;
  pointer-events:none;
  margin-left:34.51938396176315%;
  width:61.09930961232077%;
  height:51.58381502890173%;
  margin-top:38.50238980350505%;
}
.face-Cute-outer{
  pointer-events:none;
  z-index:24;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.q---Ink-4{
  position:relative;
  z-index:25;
  pointer-events:none;
  margin-left:8px;
  width:28.9px;
  min-width:28.9px;
  height:26.83px;
  margin-top:8px;
  margin-bottom:9.789999999999964px;
  min-height:26.83px;
  content:url(assets/images/____Ink_4.png);
}
.q---Ink-4-outer{
  pointer-events:none;
  z-index:25;
  position:relative;
  display:flex;
}
.head-Long{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:0%;
  width:100%;
  height:99.82658959537572%;
  margin-top:0%;
}
.head-Long-outer{
  pointer-events:none;
  z-index:21;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.q---Ink-5{
  position:relative;
  z-index:23;
  pointer-events:none;
  margin-left:-17.259691980881573%;
  width:126.59320233669678%;
  height:118.03126809496237%;
  margin-top:6.638343069569836%;
  content:url(assets/images/____Ink_5.png);
}
.q---Ink-5-outer{
  pointer-events:none;
  z-index:23;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.q---Background-2{
  position:relative;
  z-index:22;
  pointer-events:none;
  margin-left:7.966011683483803%;
  width:84.21402018056294%;
  height:71.76606832657788%;
  margin-top:19.91502920870951%;
  content:url(assets/images/____Background_2.png);
}
.q---Background-2-outer{
  pointer-events:none;
  z-index:22;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.pose-standing-restin{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:-7.827627404935525%;
  width:107.9223828945742%;
  height:75.96320756599293%;
  margin-top:39.96209780414452%;
}
.pose-standing-restin-outer{
  pointer-events:none;
  z-index:17;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.q---Background-3{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:48px;
  width:201.41px;
  min-width:201.41px;
  height:188.7px;
  margin-top:-6px;
  margin-bottom:198.01999999999998px;
  min-height:188.7px;
  content:url(assets/images/____Background_3.png);
}
.q---Background-3-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.q---Ink-6{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:46px;
  width:202.87px;
  min-width:202.87px;
  height:186.87px;
  margin-top:-384.72px;
  margin-bottom:197.85000000000002px;
  min-height:186.87px;
  content:url(assets/images/____Ink_6.png);
}
.q---Ink-6-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.WhatsApp-Image-2021-{
  position:relative;
  z-index:44;
  pointer-events:none;
  margin-left:24.3531202435312%;
  width:57.534246575342465%;
  height:32.909379968203496%;
  margin-top:32.57229832572298%;
  content:url(assets/images/WhatsApp_Image_2021_09_02_at_10_10.png);
}
.WhatsApp-Image-2021--outer{
  pointer-events:none;
  z-index:44;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.WhatsApp-Image-2021--1{
  position:relative;
  z-index:43;
  pointer-events:none;
  margin-left:0%;
  width:36.37747336377473%;
  height:100.47694753577106%;
  margin-top:0%;
  content:url(assets/images/WhatsApp_Image_2021_09_02_at_10_10_1.png);
}
.WhatsApp-Image-2021--1-outer{
  pointer-events:none;
  z-index:43;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.WhatsApp-Image-2021--2{
  position:relative;
  z-index:42;
  pointer-events:none;
  margin-left:0%;
  width:100%;
  height:38.63275039745628%;
  margin-top:59.208523592085236%;
  content:url(assets/images/WhatsApp_Image_2021_09_02_at_10_10_2.png);
}
.WhatsApp-Image-2021--2-outer{
  pointer-events:none;
  z-index:42;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.WhatsApp-Image-2021--3{
  position:relative;
  z-index:41;
  pointer-events:none;
  margin-left:31.354642313546425%;
  width:70.16742770167427%;
  height:100%;
  margin-top:0%;
  content:url(assets/images/WhatsApp_Image_2021_09_02_at_10_11.png);
}
.WhatsApp-Image-2021--3-outer{
  pointer-events:none;
  z-index:41;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Icon-favourite{
  position:relative;
  z-index:6;
  pointer-events:auto;
  cursor:pointer;
  margin-left:1035px;
  width:49px;
  min-width:49px;
  height:49px;
  margin-top:-698px;
  margin-bottom:649px;
  min-height:49px;
}
.Icon-favourite-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.Shape{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:8.163265306122437%;
  width:85.36734693877538%;
  height:77.04081632653062%;
  margin-top:12.244897959183655%;
  content:url(assets/images/Shape.png);
}
.Shape-outer{
  pointer-events:none;
  z-index:7;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Icon-thumb-down{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:1034px;
  width:50px;
  min-width:50px;
  height:49px;
  margin-top:-193px;
  margin-bottom:144px;
  min-height:49px;
}
.Icon-thumb-down-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.thumbs-up{
  position:relative;
  z-index:12;
  pointer-events:auto;
  cursor:pointer;
  margin-left:0px;
  width:50px;
  min-width:50px;
  height:49px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:49px;
  content:url(assets/images/thumbs_up.png);
}
.thumbs-up-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.Icon-thumb-up{
  position:relative;
  z-index:8;
  pointer-events:auto;
  cursor:pointer;
  margin-left:946px;
  width:50px;
  min-width:50px;
  height:49px;
  margin-top:-193px;
  margin-bottom:144px;
  min-height:49px;
}
.Icon-thumb-up-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.Path-2{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:12%;
  width:14.5%;
  height:39.55102040816327%;
  margin-top:36%;
  content:url(assets/images/Path_2.png);
}
.Path-2-outer{
  pointer-events:none;
  z-index:10;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Path-15{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:32.00000000000003%;
  width:56.160000000000046%;
  height:77.04081632653062%;
  margin-top:4.0000000000000036%;
  content:url(assets/images/Path_15.png);
}
.Path-15-outer{
  pointer-events:none;
  z-index:9;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Animal-on-Plates{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:744px;
  width:369px;
  height:55px;
  margin-top:-402px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Apparel;
  font-weight:400;
  font-size:40px;
  line-height:55px;
}
.Animal-on-Plates-outer{
  pointer-events:none;
  z-index:14;
  justify-content:center;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
  align-items:center;
}
.The-varieties-of-ani{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:688px;
  width:313px;
  height:232px;
  margin-top:-65px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(31, 64, 97, 1);
  font-style:normal;
  font-family:Apparel;
  font-weight:400;
  font-size:20px;
  line-height:30px;
}
.The-varieties-of-ani-outer{
  pointer-events:none;
  z-index:13;
  justify-content:center;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
  align-items:center;
}
